{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/coach.css' %}">
{% endblock head %}

{% block content %}

<div class="coach-container">

    <h1>Upload</h1>
    
    <div class="input-container">
        <h2>원곡링크</h2>
        <div class="input-group">
            <input type="text" id="original-song" placeholder="원곡 링크를 넣어주세요">
        </div>
        
        <h2>녹음파일</h2>
        <div class="input-group">
            <input type="text" id="recording-file" placeholder="녹음 파일을 넣어주세요">
            <div class="button-container">
                <button class='hing'>작업하기</button>
        </div>
        </div>
    </div>
</div>


{% endblock content %}