/* playlist.css */

@font-face {
    font-family: 'SCoreDream-500';
    font-weight: 500;
    font-style: normal;
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream5.woff2) format('woff2'),
}

.search-container {
    max-width: 900px;
    margin: 0 auto 20px auto; 
    padding: 0 10px; 
}

.search-container input {
    font-family: 'SCoreDream-500';
    color: #fff;
    width : 28%;
    height : 25px;
    font-size : 14px;
    padding : 5px;
    border-radius : 5px;
    border : 1px solid #ccc;
    background-color:rgba(255, 255, 255, 0.075);
}

input::-webkit-input-placeholder {
    color:#fff;
}
input::-moz-placeholder {
    color:#fff;
}
input::-ms-input-placeholder {
    color:#fff;
}

.playlist-container {
    font-family: 'SCoreDream-500';
    display : flex;
    flex-wrap : wrap;
    justify-content : flex-start; 
    max-width : 900px;
    margin : 0 auto;
    gap : 20px;
}

.playlist-item {
    font-family: 'SCoreDream-500';
    color : #fff;
    border-radius : 10px;
    overflow : hidden;
    width : calc(25% - 20px);
    text-align : center;
}

.playlist-item img {
    width : 100%;
    height : auto;
}

.playlist-info {
    padding : 10px;
}

.playlist-info h2 {
    font-size : 18px;
    margin : 10px 0 5px;
}
