{% extends "base.html" %}

{% block content %}
<h2>회원가입</h2>
<form id="signup-form" method="post">
    <input type="text" id="username" placeholder="Username" required>
    <input type="email" id="email" placeholder="Email" required>
    <input type="password" id="password" placeholder="Password" required>
    <input type="text" id="nickname" placeholder="Nickname" required>
    <input type="file" id="image">
    <button type="submit">회원가입</button>
</form>
<script>
    document.getElementById('signup-form').addEventListener('submit', function(e) {
        e.preventDefault();

        const formData = new FormData();
        formData.append('username', document.getElementById('username').value);
        formData.append('email', document.getElementById('email').value);
        formData.append('password', document.getElementById('password').value);
        formData.append('nickname', document.getElementById('nickname').value);
        
        const imageInput = document.getElementById('image');
            if (imageInput.files.length > 0) {
                formData.append('image', imageInput.files[0]);
            }

        // CSRF 토큰을 가져옵니다.
        const csrfToken = getCsrfToken();

        axios.post('{% url 'api_signup' %}', formData, {
            headers: {
                'X-CSRFToken': csrfToken
            }
        })
        .then(response => {
            alert('회원가입을 성공했습니다!');
            window.location.href = '{% url "login" %}'
        })
        .catch(error => {
            console.error('회원가입에 실패했습니다.', error);
        });
    });
</script>
{% endblock content %}