{% extends "base.html" %}
{% load static %}
{% block content %}

    <h1>Input Data</h1>
    <form id="inputForm" onsubmit="submitForm(event)">
        <label for="youtube_url">YouTube URL:</label>
        <input type="url" id="youtube_url" name="youtube_url" required>
        <br>
        <label for="input_file">Input File:</label>
        <input type="file" id="input_file" name="input_file" required>
        <br>
        <button type="submit">Submit</button>
    </form>

    <script>
        const csrfToken = getCsrfToken();
        document.getElementById('inputForm').addEventListener('submit', function(e) {
            e.preventDefault();
            const youtubeUrl = document.getElementById('youtube_url').value;
            const inputFile = document.getElementById('input_file').files[0];
            const formData = new FormData();
            formData.append('youtube_url', youtubeUrl);
            formData.append('input_file', inputFile);

            axios.post('{% url 'api_input' %}', formData,{ 
                headers: {
                    'X-CSRFToken': csrfToken
                }
            })
            .then(response => {
                const data = response.data;
                const dataId = data.id;
                const url = `/api/coach/result/${dataId}/`;})
            .catch(error => console.error('Error:', error));
        });
    </script>
{% endblock content %}