{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static "posts/css/detail.css" %}">
<div class="post">
    <h1 id="post-title"></h1>
    <div class="author-create">
        <p id="post-created"></p>
        <p id="post-updated"></p>
        <p id="post-author"></p>
    </div>
    <a href="" id="update-link">수정하기 | 편집됨</a>
    <div class="post-img">
        <img id="post-img">
    </div>
    <p id="post-content">
    </p>
    <div class="count">
        <p id="post-likes"></p>
        <p id="post-comment"></p>
    </div>
    {% comment %} <form id="comment-form">
        <textarea id="comment-content" rows="4" cols="50" placeholder="댓글을 작성해주세요"></textarea><br>
        <button type="submit">완료</button>
    </form>
    
    <div class="comment-list">
        <div class="comment">
            <img id="img" alt="프사">
            <div class="comment-content">
                <p id="comment-author"></p>
                <p id="comment-text"></p>
                <p id="comment-created"></p> 
            </div>
            <div class="comment-button">
                <button>수정 | 편집됨</button>
                <button>삭제</button>
            </div>
        </div>
    </div> {% endcomment %}
</div>



<script src="{% static 'posts/js/detail.js' %}"></script>
{% endblock content %}