{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static "posts/css/list.css" %}">

<div class="post-list">
    <div class="title-search">
        <p>Whatever Song Community</p>
        <input type="text" id="search-input" placeholder="검색어를 입력해주세요">
    </div>
    <div class="category-create">
        <div class="category">
            <a href="">노래추천</a>
            <a href="">자유</a>
            <a href="">좋아요순</a>
            <a href="">최신순</a>
        </div>
        <a href="">작성하기</a>
    </div>
    <div class="post">
        <img src="{% static "posts/css/potato.png" %}" alt="게시글 이미지">
        <div class="content">
            <p id="post-title">한 번 들으면 계속 생각나는 노래;;</p>
            <p id="post-content">두 세번 들으면 바로 중독 됨;; 미니언즈 바나나송이랑 고래가 새우를 삼켜버렸다임 이거 듣다 보면 하루종일 고래가~ 새우를~ 이러고 있음ㅋㅋㅋㅋ;;
                </p>
                <div class="author-create-like">
                    <p id="post-author">나는 승주</p>
                    <p id="post-created" >2024.2.24</p>
                    <p id="post-like">좋아요 224</p>
                </div>
        </div>
    </div>
</div>


<script>
</script>

{% endblock content %}